body{
    background-size:cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
background-color: rgba(0, 135, 253, 0.651);
color: black;
border-radius: 50px;
padding: 14px;
box-shadow: 10px 10px 10px grey;
font-family:"Bahnschrift SemiBold SemiConden";
}
.button{
    font-size: 23px;
    width: 25%;
    margin: 0px;
    background-color: rgba(255, 103, 247, 0.651);
    color: black;
    border-radius: 50px;
    padding: 14px; 
}
.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(56, 55, 55);
    line-height: 3;
    text-align: center;
    box-shadow: 10px 10px 10px grey;

}
